
/* Home Section */

.main-banner {
	margin: 0;
	background: linear-gradient(to right, #0a2122 70%, #701a1a);
}

.home-section {
	padding: 100px 30px;
	display: flex;
	justify-content: space-between;
}

.home-section__greeting {
	color: cyan;
	font-size: 18px;
	font-weight: 200;
}

.home-section__introduction {
	color: #fff;
	text-transform: uppercase;
	font-size: 56px;
	font-weight: bolder;
	text-shadow: -3px -3px 0 #4de8f4, 3px 3px 0 #fd3e3e;
	margin-bottom: 0;
	margin-top: 0;
}

.home-section__position {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
}

.social-networks {
	padding-bottom: 40px;
}

.social-networks a {
	color: #4de8f4;
	text-shadow: 2px 0 0 #fd3e3e;
	font-size: 25px;
	text-decoration: none;
	padding: 10px;
	transition: 0.5s;
}

.social-networks a:hover {
	text-shadow: -2px 0 0 #fd3e3e;
}

.home-section__img {
	width: 50%;
}
.home-section__img img {
	width: 100%;
}

/* statistics-section */

.statistics-section {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.statistics-card {
	text-align: center;
	width: 150px;
	margin: 20px;
	background: linear-gradient(to right, #0a2122, #0a2129);
}

.statistics-number {
	font-size: 25px;
	text-shadow: -1px -1px 0 #4de8f4, 1px 1px 0 #fd3e3e;
}

.statistics-description {
	font-size: 20px;
}

/* About Section */

.about-section {
	padding-top: 100px;
	display: flex;
	align-items: center;
}

.about-section > div {
	flex: 1;
}

.about-section__img {
	width: 50%;
}
.about-section__img img {
	width: 100%;
}

.about-section__description {
	line-height: 27px;
	font-size: 16px;
	margin-bottom: 50px;
}

.about-section__description span {
	color: #000;
	font-size: 19px;
	text-shadow: -1px -1px 0 #4de8f4, 1px 1px 0 #fd3e3e;
}


/* Clients Section */


.clients-section {
	padding-top: 150px;
	display: flex;
	flex-direction: column;
}

.clients-section__slide {
	display: flex;
}

.clients-section__slide > div {
	flex: 1;
}

.clients-rating i {
	margin: 5px;
	font-size: 20px;
	color: gold;
	text-shadow: -1px -1px 0 cyan, 1px 1px 0 red;
}

.clients-section__img {
	width: 50%;
}

.clients-section__img img {
	width: 100%;
}

/* services-section */

.services-section {
	padding-top: 150px;
}

.service-cards {
	padding-top: 50px;
	display: flex;
	justify-content: space-around;
}

.service-card {
	text-align: center;
	background: #0a2122;
	width: 30%;
	padding-top: 30px;
	border-radius: 30px;
	box-shadow: -4px -4px 5px 0 cyan,
				4px 4px 5px 0 red;
	transition: 0.5s;
}

.service-card:hover {
	box-shadow: -4px -4px 10px 0 red,
				4px 4px 10px 0 cyan;
}

.service-card__header {
	font-size: 35px;
	text-shadow: 2px 2px 0 cyan;
}

.service-card__description {
	font-size: 18px;
	line-height: 25px;
}

.service-card__link {
	color: cyan;
	font-size: 20px;
	font-weight: bolder;
	transition: 0.5s;
}

.service-card__link:hover {
	color: red;
}


/* blog section */

.blog-section {
	padding-top: 100px;
}

.blog-section__cards {
	display: flex;
	flex-wrap: wrap;
}

.blog-section__card {
	width: 20%;
	margin: 5px;
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 0 0 15px 0 #000;
	cursor: pointer;
}

.blog-section__card-img img {
	width: 100%;
}

.blog-section__card-img {
	position: relative;
}

.blog-section__image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: 0.6s;
	backdrop-filter: blur(15px);
	transition: 0.6s;
	opacity: 0;
}

.blog-section__card:hover .blog-section__image-overlay {
	opacity: 1;
}

.overlay-title {
	font-size: 25px;
	display: inline-block;
	color: #111;
}


/* partners-section */

.partners-section {
	padding-top: 100px;
	display: flex;
	flex-wrap: wrap;
}

.partners-section img {
	margin: 15px;
}


/* Responsive styles */
@media only screen and (max-width: 991px) {
	/* core */
	body {
		text-align: center;
	}
	/* Home Section */
	.home-section {
		flex-direction: column-reverse;
	}
	.home-section__img {
		width: 100%;
	}
	.social-networks a {
		font-size: 35px;
	}
	/* Statistics-section */
	.statistics-section {
		flex-direction: column;
	}
	.statistics-card {
		width: 100%;
	}
	/* .about-section */
	.about-section {
		flex-direction: column-reverse;
		align-items: flex-start;
	}
	.about-section__img {
		width: 100%;
		padding-top: 50px;
	}
	/* .clients-section */
	.clients-section {
		flex-direction: column;
	}
	.clients-section__slide {
		flex-direction: column;
	}
	.clients-section__img {
		width: 100%;
	}
	/* .service-cards */
	.service-cards {
		flex-direction: column;
	}
	.service-card {
		width: 100%;
		margin-bottom: 20px;
	}
	.blog-section__card {
		width: 30%;
	}
	/* .partners-section */
	.partners-section img {
		width: 40%;
	}
}